html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Banner */

.banner-container {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 100%;
  background-image: url("./images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  display: flex;
  flex-direction: column;
  width: 960px;
}

/* Top Banner Bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: cadetblue;
}
.logo, .links {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
}
.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.links span {
  padding: 1rem 2rem 1rem 0;
}

/* Bottom Banner Bar */

.look {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 10rem;
  left: 2rem;
  width: auto;
}
.look span {
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Images */

.images-container {
  display: flex;
  justify-content: center;
}
.exams, .fittings, .delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  height: 8rem;
  width: 5rem;
}
.fittings {
  margin: 0 6rem;
}
.exams img {
  width: 3.5rem;
}
.fittings img, .delivery img {
  width: 5rem;
}
.exams-text, .fittings-text, .delivery-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.exams-text span, .fittings-text span, .delivery-text span {
  padding: .15rem 0;
}

/* Other Information */

.other-info-container {
  display: flex;
  justify-content: center;
}
.other-info {
  display: flex;
  justify-content: center;
  width: 960px;
  padding-bottom: 5rem;
}
.philosophy, .appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5%;
}
.philosophy p, .appointments p {
  margin-top: 1rem;
  line-height: 25.2px;
}
.philosophy span, .appointments span {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  padding: .5rem 2rem .5rem 1.25rem;
  width: 10rem;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: center;
  background-color: azure;
}
footer {
  display: flex;
  align-items: center;
  width: 960px;
}
.footer-logo {
  display: flex;
  padding: 4rem 1rem 4rem 0;
  align-items: center;
}
.footer-logo img {
  height: 1.5rem;
  margin-right: 1rem;
}
